html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-graph {
    width: 100%;
    height: 40%;
}

#splitter {
    height: 10px;
    background-color: #ccc;
    cursor: row-resize;
}

/* Set the AG Grid container to fill the entire viewport */
#myGrid {
    width: 100%;
    height: calc(100% - 40% - 10px);
}
